In [297]:
#Import biblioteci si module
import pandas as pd
import os

#Import fisiere in dataframe
path = 'C:\\Users\\anlazar\\Full_Archive\\New Files\\olist db\\'

for file in os.listdir(path):
    if file.startswith('olist') and file.endswith('.csv') and 'leads' not in file and 'filtered' not in file:
        globals()[file.replace('olist_', '').replace('.csv', '').replace('_dataset', '') + '_df'] = pd.read_csv(path+file)
        
#Conversie tipuri de date        
for column in orders_df.columns.values[3:]:
    orders_df[column] = pd.to_datetime(orders_df[column])        

for column in orders_df.columns.values[:2]:
    orders_df[column] = orders_df[column].astype('uint32')
    
orders_df['order_status'] = orders_df['order_status'].astype('category')

#Creare coloane noi
orders_df['delivery_days'] = (orders_df['order_delivered_customer_date'] - orders_df['order_purchase_timestamp']).dt.days
orders_df['estimated_delivery_days'] = (orders_df['order_estimated_delivery_date'] - orders_df['order_purchase_timestamp']).dt.days
orders_df['days_btw_purch_and_approval'] = (orders_df['order_approved_at'] - orders_df['order_purchase_timestamp']).dt.days
orders_df['days_btw_approval_and_carrier'] = (orders_df['order_delivered_carrier_date'] - orders_df['order_approved_at']).dt.days
orders_df['days_btw_carrier_and_customer'] = (orders_df['order_delivered_customer_date'] - orders_df['order_delivered_carrier_date']).dt.days

#Eliminare anomalii
orders_df_w_errors = orders_df[(orders_df['days_btw_approval_and_carrier'] <0) | (orders_df['days_btw_carrier_and_customer'] < 0)]
orders_df = orders_df.drop(orders_df[(orders_df['days_btw_approval_and_carrier'] <0) | (orders_df['days_btw_carrier_and_customer'] < 0)].index)

# Masuri de tendinta centrala: medie, mediana, mod
(
orders_df
    .iloc[:,-5:]
    .mean()
    .to_frame()
    .rename(columns = {0:'mean_val'})
    .merge(
           right = orders_df
                    .iloc[:,-5:]
                    .median()
                    .to_frame()
                    .rename(columns = {0:'median_val'})
           , left_index = True 
           , right_index = True
          )
    .merge(
           right = orders_df
                    .iloc[:, -5:]
                    .mode()
                    .stack()
                    .to_frame()
                    .droplevel(0)
                    .rename(columns = {0:'mode_val'})
           , left_index = True
           , right_index = True
          )
# Masuri de dispersie: gama, gama inter-cvartilica, varianta, deviatie standard
    .merge(
           right = orders_df
                    .iloc[:,-5:]
                    .max()
                    .to_frame()
                    .rename(columns = {0:'max_val'})
           , left_index = True 
           , right_index = True
          )
    .merge(
           right = orders_df
                    .iloc[:,-5:]
                    .min()
                    .to_frame()
                    .rename(columns = {0:'min_val'})
           , left_index = True 
           , right_index = True
          )
    .merge( 
           right = orders_df
                    .iloc[:,-5:]
                    .max()
                    .sub(
                         orders_df
                            .iloc[:,-5:]
                            .min()
                            )
                    .to_frame()
                    .rename(columns = {0:'range_val'})
           , left_index = True 
           , right_index = True
          )
    .merge( 
            right = orders_df
                    .iloc[:,-5:]
                    .quantile([0.25, 0.75])
                    #.to_frame()
                    .unstack()
                    .unstack()
                    .assign(iqr = lambda df: df[0.75] - df[0.25])
                    .assign(upper_whisker = lambda df: df[0.75] + 1.5 * df['iqr'])
                    #['iqr']
           , left_index = True 
           , right_index = True
            )
)

,mean_val,median_val,mode_val,max_val,min_val,range_val,0.25,0.75,iqr,upper_whisker
delivery_days,12.154200,10.0,7.0,209.0,0.0,209.0,6.0,15.0,9.0,28.5
estimated_delivery_days,23.414563,23.0,21.0,155.0,1.0,154.0,18.0,28.0,10.0,43.0
days_btw_purch_and_approval,0.247916,0.0,0.0,187.0,0.0,187.0,0.0,0.0,0.0,0.0
days_btw_approval_and_carrier,2.357843,1.0,0.0,125.0,0.0,125.0,0.0,3.0,3.0,7.5
days_btw_carrier_and_customer,8.911065,7.0,6.0,205.0,0.0,205.0,4.0,12.0,8.0,24.0

In [294]:
(orders_df
.iloc[:,-5:]
.quantile([0.25, 0.75])
#.to_frame()
.unstack()
.unstack()
.assign(iqr = lambda df: df[0.75] - df[0.25])
#['iqr']
)

                               0.25  0.75   iqr
delivery_days                   6.0  15.0   9.0
estimated_delivery_days        18.0  28.0  10.0
days_btw_purch_and_approval     0.0   0.0   0.0
days_btw_approval_and_carrier   0.0   3.0   3.0
days_btw_carrier_and_customer   4.0  12.0   8.0

In [299]:
(
orders_df
[orders_df['delivery_days'] > 28.5]
[['order_status', 'order_purchase_timestamp', 'order_delivered_customer_date', 'delivery_days']]
.sort_values(by = 'delivery_days', ascending = False)
)

,order_status,order_purchase_timestamp,order_delivered_customer_date,delivery_days
2535,delivered,2017-02-21 23:31:00,2017-09-19 14:36:00,209.0
57992,delivered,2018-02-23 14:57:00,2018-09-19 23:24:00,208.0
3494,delivered,2017-03-07 23:59:00,2017-09-19 15:12:00,195.0
3547,delivered,2017-03-08 18:09:00,2017-09-19 14:33:00,194.0
3601,delivered,2017-03-09 13:26:00,2017-09-19 14:38:00,194.0
3568,delivered,2017-03-08 22:47:00,2017-09-19 14:00:00,194.0
45732,delivered,2018-01-03 09:44:00,2018-07-13 20:51:00,191.0
3974,delivered,2017-03-13 20:17:00,2017-09-19 17:00:00,189.0
4124,delivered,2017-03-15 11:24:00,2017-09-19 14:38:00,188.0
4204,delivered,2017-03-15 23:23:00,2017-09-19 17:14:00,187.0
4239,delivered,2017-03-16 11:36:00,2017-09-19 16:28:00,187.0
4331,delivered,2017-03-17 12:32:00,2017-09-19 18:13:00,186.0
9986,delivered,2017-05-17 19:09:00,2017-11-16 10:56:00,182.0
2872,delivered,2017-02-28 14:56:00,2017-08-28 16:23:00,181.0
13030,delivered,2017-06-12 13:14:00,2017-12-04 18:36:00,175.0
5406,delivered,2017-03-29 13:57:00,2017-09-19 15:07:00,174.0
39338,delivered,2017-11-29 15:10:00,2018-05-21 18:22:00,173.0
5556,delivered,2017-03-31 15:03:00,2017-09-19 18:24:00,172.0
53125,delivered,2018-02-02 21:38:00,2018-07-20 23:37:00,168.0
5815,delivered,2017-04-04 10:46:00,2017-09-19 15:08:00,168.0
5887,delivered,2017-04-04 23:21:00,2017-09-19 13:47:00,167.0
5844,delivered,2017-04-04 16:19:00,2017-09-19 14:58:00,167.0
6015,delivered,2017-04-06 12:59:00,2017-09-19 16:23:00,166.0
37985,delivered,2017-11-25 23:51:00,2018-05-10 00:06:00,165.0
59201,delivered,2018-02-28 12:30:00,2018-07-26 16:41:00,148.0
...,...,...,...,...
41492,delivered,2017-12-07 14:24:00,2018-01-05 19:43:00,29.0
60758,delivered,2018-03-06 10:50:00,2018-04-04 17:57:00,29.0
60717,delivered,2018-03-06 08:41:00,2018-04-04 23:48:00,29.0
60703,delivered,2018-03-06 07:18:00,2018-04-04 19:58:00,29.0
41569,delivered,2017-12-07 20:44:00,2018-01-06 12:54:00,29.0
13306,delivered,2017-06-14 14:59:00,2017-07-14 11:42:00,29.0
60847,delivered,2018-03-06 15:40:00,2018-04-04 20:28:00,29.0
15187,delivered,2017-07-03 16:42:00,2017-08-01 21:10:00,29.0
61000,delivered,2018-03-07 10:45:00,2018-04-05 21:48:00,29.0
16137,delivered,2017-07-11 10:11:00,2017-08-09 19:51:00,29.0
41057,delivered,2017-12-05 20:56:00,2018-01-04 16:14:00,29.0
72228,delivered,2018-04-25 05:40:00,2018-05-24 20:30:00,29.0
41063,delivered,2017-12-05 21:26:00,2018-01-04 17:58:00,29.0
41111,delivered,2017-12-06 00:29:00,2018-01-04 00:44:00,29.0
60956,delivered,2018-03-07 00:13:00,2018-04-05 23:03:00,29.0
72506,delivered,2018-04-26 00:24:00,2018-05-25 18:56:00,29.0
41196,delivered,2017-12-06 12:38:00,2018-01-04 19:43:00,29.0
60874,delivered,2018-03-06 17:12:00,2018-04-05 16:21:00,29.0
15986,delivered,2017-07-10 10:08:00,2017-08-08 14:56:00,29.0
60892,delivered,2018-03-06 18:38:00,2018-04-04 22:19:00,29.0
15903,delivered,2017-07-09 13:45:00,2017-08-07 18:12:00,29.0
15658,delivered,2017-07-06 21:56:00,2017-08-04 23:24:00,29.0
41259,delivered,2017-12-06 15:50:00,2018-01-04 22:30:00,29.0
15205,delivered,2017-07-03 18:42:00,2017-08-02 17:07:00,29.0
96972,delivered,2018-08-15 07:19:00,2018-09-13 19:24:00,29.0

In [303]:
for column in order_reviews_df.columns.values[-2:]:
    order_reviews_df[column] = pd.to_datetime(order_reviews_df[column])

In [319]:
(
orders_df
[orders_df['delivery_days'] > 28.5]
[['order_id', 'order_status', 'order_purchase_timestamp', 'order_estimated_delivery_date', 'order_delivered_customer_date', 
  'delivery_days', 'estimated_delivery_days']]
.merge(right = order_reviews_df[['order_id', 'review_score', 'review_answer_timestamp']])
.assign(
        review_delta_delivery = lambda df: (df['review_answer_timestamp'] - df['order_delivered_customer_date']).dt.days,
        review_delta_estimated = lambda df: (df['review_answer_timestamp'] - df['order_estimated_delivery_date']).dt.days,
        delivered_delta_estimated = lambda df: df['delivery_days'] - df['estimated_delivery_days']
       )
#.sort_values(by = 'review_delta_delivery')
#.sort_values(by = 'review_delta_estimated')
.sort_values(by = 'delivered_delta_estimated', ascending = False)
)

,order_id,order_status,order_purchase_timestamp,order_estimated_delivery_date,order_delivered_customer_date,delivery_days,estimated_delivery_days,review_score,review_answer_timestamp,review_delta_delivery,review_delta_estimated,delivered_delta_estimated
3162,57993,delivered,2018-02-23 14:57:00,2018-03-15,2018-09-19 23:24:00,208.0,19,2,2018-03-17 05:08:00,-187,2,189.0
141,2536,delivered,2017-02-21 23:31:00,2017-03-22,2017-09-19 14:36:00,209.0,28,1,2017-03-26 22:57:00,-177,4,181.0
2146,45733,delivered,2018-01-03 09:44:00,2018-01-19,2018-07-13 20:51:00,191.0,15,1,2018-01-24 16:45:00,-171,5,176.0
192,3975,delivered,2017-03-13 20:17:00,2017-04-05,2017-09-19 17:00:00,189.0,22,1,2017-04-09 09:56:00,-164,4,167.0
177,3569,delivered,2017-03-08 22:47:00,2017-04-06,2017-09-19 14:00:00,194.0,28,1,2017-04-08 17:35:00,-164,2,166.0
173,3495,delivered,2017-03-07 23:59:00,2017-04-07,2017-09-19 15:12:00,195.0,30,1,2017-04-13 12:34:00,-160,6,165.0
179,3602,delivered,2017-03-09 13:26:00,2017-04-11,2017-09-19 14:38:00,194.0,32,4,2017-03-29 21:10:00,-174,-13,162.0
509,13031,delivered,2017-06-12 13:14:00,2017-06-26,2017-12-04 18:36:00,175.0,13,4,2017-07-04 11:33:00,-154,8,162.0
198,4205,delivered,2017-03-15 23:23:00,2017-04-10,2017-09-19 17:14:00,187.0,25,3,2017-04-06 15:30:00,-167,-4,162.0
196,4125,delivered,2017-03-15 11:24:00,2017-04-13,2017-09-19 14:38:00,188.0,28,3,2017-04-16 01:46:00,-157,3,160.0
175,3548,delivered,2017-03-08 18:09:00,2017-04-17,2017-09-19 14:33:00,194.0,39,4,2017-04-06 10:56:00,-167,-11,155.0
455,9987,delivered,2017-05-17 19:09:00,2017-06-14,2017-11-16 10:56:00,182.0,27,5,2017-06-22 00:23:00,-148,8,155.0
1569,39339,delivered,2017-11-29 15:10:00,2017-12-19,2018-05-21 18:22:00,173.0,19,4,2017-12-28 10:58:00,-145,9,154.0
208,4332,delivered,2017-03-17 12:32:00,2017-04-19,2017-09-19 18:13:00,186.0,32,4,2017-04-24 12:20:00,-149,5,154.0
154,2873,delivered,2017-02-28 14:56:00,2017-03-29,2017-08-28 16:23:00,181.0,28,1,2017-04-01 14:34:00,-150,3,153.0
201,4240,delivered,2017-03-16 11:36:00,2017-04-28,2017-09-19 16:28:00,187.0,42,5,2017-05-09 00:30:00,-134,11,145.0
1405,37986,delivered,2017-11-25 23:51:00,2017-12-18,2018-05-10 00:06:00,165.0,22,1,2017-12-19 13:11:00,-142,1,143.0
254,5407,delivered,2017-03-29 13:57:00,2017-05-05,2017-09-19 15:07:00,174.0,36,3,2017-04-29 21:03:00,-143,-6,138.0
283,5888,delivered,2017-04-04 23:21:00,2017-05-04,2017-09-19 13:47:00,167.0,29,4,2017-05-07 21:58:00,-135,3,138.0
2668,53126,delivered,2018-02-02 21:38:00,2018-03-08,2018-07-20 23:37:00,168.0,33,5,2018-03-11 03:48:00,-132,3,135.0
281,5845,delivered,2017-04-04 16:19:00,2017-05-08,2017-09-19 14:58:00,167.0,33,4,2017-05-08 13:47:00,-135,0,134.0
261,5557,delivered,2017-03-31 15:03:00,2017-05-10,2017-09-19 18:24:00,172.0,39,5,2017-05-05 22:32:00,-137,-5,133.0
278,5816,delivered,2017-04-04 10:46:00,2017-05-10,2017-09-19 15:08:00,168.0,35,1,2017-05-12 12:23:00,-131,2,133.0
3389,59202,delivered,2018-02-28 12:30:00,2018-03-22,2018-07-26 16:41:00,148.0,21,4,2018-03-29 16:57:00,-119,7,127.0
293,6016,delivered,2017-04-06 12:59:00,2017-05-19,2017-09-19 16:23:00,166.0,42,1,2017-05-16 12:05:00,-127,-3,124.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4562,71057,delivered,2018-04-19 20:12:00,2018-06-21,2018-05-21 21:08:00,32.0,62,4,2018-05-23 00:30:00,1,-29,-30.0
2326,48704,delivered,2018-01-15 13:08:00,2018-03-26,2018-02-23 18:58:00,39.0,69,4,2018-02-25 21:23:00,2,-29,-30.0
3941,62184,delivered,2018-03-12 15:13:00,2018-05-11,2018-04-10 17:31:00,29.0,59,1,2018-04-12 11:08:00,1,-29,-30.0
47,293,delivered,2016-10-10 07:03:00,2016-12-12,2016-11-10 10:59:00,31.0,62,4,2016-11-11 23:15:00,1,-31,-31.0
2732,53958,delivered,2018-02-06 15:52:00,2018-04-09,2018-03-09 14:31:00,30.0,61,1,2018-03-10 20:01:00,1,-30,-31.0
2207,46583,delivered,2018-01-06 20:29:00,2018-03-19,2018-02-16 16:04:00,40.0,71,4,2018-02-17 20:24:00,1,-30,-31.0
142,2539,delivered,2017-02-22 06:47:00,2017-04-25,2017-03-23 08:52:00,29.0,61,3,2017-03-25 01:18:00,1,-31,-32.0
25,93,delivered,2016-10-05 12:34:00,2016-12-07,2016-11-04 14:31:00,30.0,62,5,2016-11-07 11:50:00,2,-30,-32.0
2155,45834,delivered,2018-01-03 17:27:00,2018-03-19,2018-02-14 21:22:00,42.0,74,4,2018-02-17 00:33:00,2,-30,-32.0
2208,46610,delivered,2018-01-06 23:04:00,2018-03-19,2018-02-14 21:09:00,38.0,71,2,2018-02-18 00:55:00,3,-29,-33.0
38,185,delivered,2016-10-07 10:18:00,2016-12-13,2016-11-09 11:51:00,33.0,66,4,2016-11-21 12:36:00,12,-22,-33.0
2282,47870,delivered,2018-01-11 21:58:00,2018-03-19,2018-02-14 11:58:00,33.0,66,1,2018-02-15 14:45:00,1,-32,-33.0
4839,80248,delivered,2018-05-30 15:31:00,2018-08-02,2018-06-29 17:52:00,30.0,63,5,2018-06-30 23:18:00,1,-33,-33.0
2417,49956,delivered,2018-01-19 23:04:00,2018-03-28,2018-02-22 16:21:00,33.0,67,3,2018-02-26 02:19:00,3,-30,-34.0
2113,44965,delivered,2017-12-27 22:43:00,2018-03-12,2018-02-06 19:49:00,40.0,74,1,2018-02-07 22:45:00,1,-33,-34.0
40,225,delivered,2016-10-08 08:05:00,2016-12-14,2016-11-09 13:41:00,32.0,66,3,2016-11-16 20:16:00,7,-28,-34.0
10,46,delivered,2016-10-04 16:02:00,2016-12-12,2016-11-07 16:55:00,34.0,68,5,2016-11-09 14:31:00,1,-33,-34.0
35,153,delivered,2016-10-06 15:19:00,2016-12-12,2016-11-07 16:26:00,32.0,66,5,2016-11-16 01:58:00,8,-26,-34.0
404,7862,delivered,2017-04-29 09:03:00,2017-07-05,2017-05-31 13:42:00,32.0,66,5,2017-06-04 17:48:00,4,-31,-34.0
2579,51887,delivered,2018-01-28 19:20:00,2018-04-06,2018-03-01 17:33:00,31.0,67,1,2018-03-04 22:43:00,3,-33,-36.0
2100,44643,delivered,2017-12-25 23:45:00,2018-04-06,2018-02-27 17:24:00,63.0,101,5,2018-03-01 03:08:00,1,-36,-38.0
2265,47572,delivered,2018-01-10 19:34:00,2018-04-02,2018-02-20 21:39:00,41.0,81,3,2018-02-22 01:04:00,1,-39,-40.0
228,4888,delivered,2017-03-23 17:36:00,2017-06-28,2017-05-18 12:24:00,55.0,96,5,2017-05-21 21:23:00,3,-38,-41.0
2220,46771,delivered,2018-01-07 20:49:00,2018-04-17,2018-02-24 13:42:00,47.0,99,2,2018-02-25 19:11:00,1,-51,-52.0
553,14983,delivered,2017-07-01 15:47:00,2017-10-19,2017-08-24 18:35:00,54.0,109,2,2017-08-26 01:24:00,1,-54,-55.0